              /* Tailwind directives start*/
@tailwind base;
@tailwind components;
@tailwind utilities;
              /* Tailwind directives end*/

              /* Google fonts import start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');     
              /* Google fonts import end */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
